{% extends 'frontend/base.html' %}
{% block content %}
    <div class="auth">

        <form class="auth-box" id="login" action="{% url 'login_user' %}?next={{ next }}" method="post">

            {{ form }}


            <input type="hidden" value="{{ next }}" name="next"/>

            <div id="auth-btn">
                <button>Login</button>
                or
                <a href="{% url 'register_user' %}">Register</a>
            </div>

            {% csrf_token %}
        </form>
    </div>
{% endblock %}