{% extends 'frontend/base.html' %}

{% block content %}

    <div class="profile">
        <h4>User details</h4>
        <div>First Name: {{ object.first_name }}</div>
        <div>Last Name: {{ object.last_name }}</div>
        <div>Email: {{ object.user.email }}</div>

        <div>
            <a href="{% url "edit_profile" pk=request.user.pk %}">
                <button>Edit Profile</button>
            </a>
        </div>
    </div>
    <div class="addressbox">
        <h4>Addresses</h4>
        {% for address in user.address_set.all %}
            <p>{{ address }} <a href="{% url 'delete_adress' pk=address.pk %}">delete</a></p>
        {% empty %}
            <p>No shipping adresses</p>
        {% endfor %}
        <div>
            <a href="{% url "add_address" %}">
                <button>Add new adress</button>
            </a>
        </div>
    </div>



{% endblock %}