
#dashboard {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(241, 133, 10);
}

/*.product {*/
/*  display: flex;*/
/*  align-items: flex-start;*/
/*  justify-content: left;*/
/*  flex-direction: column;*/
/*  width: calc(30% - 20px);*/
/*  height: 20vh;*/
/*  padding-bottom: 0;*/
/*  margin: 10px auto;*/
/*  background-color: white;*/
/*  border-radius: 5px;*/
/*  border: 1px solid rgb(245, 90, 90);*/
/*  box-shadow: -4px 3px 25px 1px rgba(0,0,0,0.55);*/
/*-webkit-box-shadow: -4px 3px 25px 1px rgba(0,0,0,0.55);*/
/*-moz-box-shadow: -4px 3px 25px 1px rgba(0,0,0,0.55);*/

/*}*/

/*!* .fruit:hover {*/
/*  transform: scale(1.3);*/
/*!*} *!*!*/
/*!*.product img {*!*/
/*!*  height:6vw;*!*/
/*!*  width: 6vw;*!*/
/*!*}*!*/

/*!*.product {*!*/
/*!*  margin: 5px;*!*/
/*!*  letter-spacing: 2px;*!*/
/*!*  color: rgb(95, 94, 94);*!*/
/*!*}*!*/

.details-btn {
    margin-top: 4px;
    text-decoration: none;
    font-size: 21px;
    width: 160px;
    border-radius: 3px;
    text-align: center;
    color: white;
    background: rgb(240, 156, 47);
}

.details-btn:hover {
    background: #bd2c2c;
}

.product p {
    margin: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    align-items: flex-start;
    justify-content: left;
    width: 90%;
    text-align: left;
    color: rgb(24, 23, 23);
    font-family: 'Roboto', sans-serif;
}

