{% extends 'frontend/base.html' %}
{% load static %}
{% block extrahead %}
    <style>
        #filter-sidebar {
            height: 100%;
            width: 200px;
            overflow: auto;
        }

        #filter-box {
            height: 100px;
            overflow: auto;
        }

    </style>
    <link rel="stylesheet" href="{% static "css/test/catalog.css" %}">
{% endblock %}


{% block content %}
    <h1 class="category-title">{{ category.name }}</h1>
    <hr>

    <div id="content">
        <div id="sidebar" class="sidebar">
            <form method="POST" action="{% url 'category_products' category.name %}">
                {% csrf_token %}
                <h2>Filters:</h2>
                <div id="filter-sidebar" class="scrollable-list">
                    {% for name, values in attribute_groups.items %}

                        <h3>{{ name }}</h3>
                        <div id="filter-box">
                            {% for value in values %}
                                <label>
                                    <div>
                                        <input type="checkbox" name="{{ name }}" value="{{ value }}">
                                        {{ value }}
                                    </div>
                                </label>
                            {% endfor %}
                        </div>
                    {% endfor %}
                <br>
                    <button type="submit">Filter</button>
                </div>
            </form>
        </div>

        <div id="product">
            {% for product in products %}
                <div class="card-box">
                    <img src="{{ product.image.url }}" alt="Product Image">
                    <div>
                        <div class="text-center">
                            <p class="name">{{ product.title|wordwrap:35|linebreaksbr }}</p>
                            <p class="artist">Brand: {{ product.brand }}</p>
                            <p class="genre">In stock: {{ product.quantity }}</p>
                            <p class="price">Price: ${{ product.price }}</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'product_details' slug=product.slug %}">Details</a>
                            <button data-product="{{ product.pk }}" data-action="add" type="button"
                                    class="btn bg-cart update-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                                cart
                            </button>
                        </div>


                    </div>
                </div>
            {% empty %}
                <h3>No Products</h3>
            {% endfor %}
        </div>
    </div>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script type="text/javascript" src="{% static 'JS/cart.js' %}"></script>
{% endblock %}


{#{% block content %}#}
{#    <h1>Products in {{ category.name }}</h1>#}
{#    <form method="POST" action="{% url 'filters_test' category.name %} ">#}
{#    {% csrf_token %}#}
{#    <h2>Filters:</h2>#}
{#    <div id="filter-sidebar" class="scrollable-list">#}
{#        {% for name, values in attribute_groups.items %}#}
{#            <select name="{{ name }}" size="{{ values|length }}">#}
{#            <h3>{{ name }}</h3>#}
{#            {% for value in values %}#}
{#                <input type="checkbox" name="{{ name }}" value="{{ value }}"> {{ value }}<br>#}
{#            {% endfor %}#}
{#            </select>#}
{#        {% endfor %}#}
{#        <button type="submit">filter</button>#}
{#    </div>#}
{#    </form>#}
{##}
{#    <div id="product-list">#}
{#        {% for product in products %}#}
{#            {{ product }}#}
{#        {% endfor %}#}
{#    </div>#}
{##}
{#{% endblock %}#}
