{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/test/style.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/products.css' %}">#}

    {% block extrahead %}{% endblock %}
    <title>Test</title>
</head>
<body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% include 'header.html' %}
{% block content %}

{% endblock %}
</body>
</html>