{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Computer Store</title>
    {% block extrahead %}{% endblock %}

</head>
<body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% include 'frontend/header.html' %}
{% include 'frontend/navbar.html' %}
<div class="wrapper">
    {% block content %}

    {% endblock %}
</div>
<footer>
    {% include 'frontend/footer.html' %}
</footer>
</body>
</html>