<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-options">
        {% for category in sidebar_categories %}
            <div class="category">
                <span id="category-name" class="category-name">{{ category.main_category.name }}</span>
                <div class="subcategories">
                    {% for sub_category in category.sub_categories %}
                        <a href="{% url 'category_products' sub_category.name %}">{{ sub_category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>



<script>
    // Get all the category elements
    const categories = document.querySelectorAll('.category');

    // Loop through each category element
    categories.forEach((category) => {
        const categoryName = category.querySelector('.category-name');
        const subcategories = category.querySelector('.subcategories');

        // Add an event listener to show/hide the subcategories
        categoryName.addEventListener('click', () => {
            // Toggle the 'active' class on the subcategories element
            subcategories.classList.toggle('active');
        });

    });
</script>