{% load static %}
<header>
<div id="box">
    <nav>
        <ul>
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>


            {% if not request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login_user' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register_user' %}">Register</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile_details' pk=user.pk %}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout_user' %}">Logout</a></li>
            {% endif %}

            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">BackOffice</a>

            </li>

            <li>
                <form class="d-flex" method="POST" action="{% url 'search_results' %}">
                    {{ search_form.query }}
                    <button class="btn" type="submit">Search</button>
                    {% csrf_token %}
                </form>
            </li>
            <li>
                <a href="{% url 'cart' %}">
                    <img alt="" id="cart-icon" src="{% static 'images/cart.png' %}" width="40" height="40">
                </a>
            </li>

        </ul>
    </nav>
</div>
</header>
