{% extends 'frontend/base.html' %}

{% block content %}
    <h1>Delete Product</h1>
    {% if canot_delete %}
        <h2>{{ message }}</h2>
    {% else %}
        <div>
            Are you sure you want to delete the product "{{ object.name }}"?
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
                <a href="{% url 'category_products' category_name=object.category.name %}">Cancel</a>
            </form>
        </div>
    {% endif %}
{% endblock %}