{% extends 'frontend/base.html' %}

{% block content %}
    <div class="editPage">
        <h1>Edit Product</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form }}

            <div id="formset">
                {% for form in formset %}
                    <div class="form-row">
                        {{ form }}
                    </div>
                {% endfor %}
            </div>

            <input type="submit" value="Save">
        </form>
    </div>

{% endblock %}




